body{
    font-family:  serif;
    text-align: center;
    font-size: 20px;
    
    background-image: url("https://learn.logikaschool.com/uploads/student/2411471/670a3f8708917.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
p{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
    padding: 5px;
    border-radius: 5px;
    
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(108, 97, 83);
    height: 80px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(176, 140, 93);
    margin-bottom: 15px;
    transition: 0.3s;
}

h2{
    text-shadow: 3px 0 10px rgba(65, 65, 65);
    
}
nav a:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), /* Основний ефект підсвічування */
               0 0 20px rgba(255, 255, 255, 0.6), /* Додатковий ефект */
               0 0 30px ;
    color: black;
}

.logo{
    background-image: url('https://learn.logikaschool.com/uploads/student/2411471/6725fc17d50b5.jpeg'); /* Шлях до зображення */
  background-size: cover; /* Зображення буде покривати весь контейнер */
  background-position: center; /* Центрування зображення */
  background-repeat: no-repeat;
  height: 100vh;
}
